* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.navbar {
    background-color: #801515;
    height: 80px;
    padding: 32px;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    max-width: 975px;
    margin: 0 auto;
}

.navlogo {
    color: white;
    font-weight: bold;
    font-size: 23px;
    font-family: fantasy;
}

.navlist {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    font-family: fantasy;
}

.header {
    height: 375px;
    background-color: #801515;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    max-width: 975px;
    margin: 0 auto;
    gap: 20px;
}

.headerimage img {
    max-width: 500px;
    border-radius: 40px;
}

.headertext {
    color: white;
    font-size: 56px;
    font-weight: bolder;
    font-family: fantasy;
}

.headerparagraph {
    color: white;
    font-family: fantasy;
}

.headerbutton {
    color: white;
    background-color: #b72020;
    margin-top: 20px;
    border: none;
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 15px;
}