* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.navbar {
    background-color: #801515;
    height: 40px;
    padding: 32px;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    max-width: 975px;
    margin: 0 auto;
}

.navlogo {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: fantasy;
}

.navlist {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    font-family: fantasy;
}